repos:
  - repo: https://github.com/conmob-devsecops/pre-commit-hooks/
    rev: v1.1.0
    hooks:
      - id: check-git-user-email
        args:
          - --allowed-domains
          - telekom.de
          - telekom.com
          - t-systems.com
          - external.telekom.de
          - external.telekom.com
          - external.t-systems.com
      - id: check-prohibited-filenames
        args:
          - --prohibited-filenames
          - node_modules
          - .DS_Store
          - Thumbs.db
          - .env
          - .env.vault
          - .env.local
          - terraform.tfstate
          - .kubeconfig
          - .pypirc
          - .npmrc
          - .pgpass
  - repo: local
    hooks:
      - id: gitleaks-staged
        name: Gitleaks (staged changes)
        language: system
        entry: gitleaks git -v --redact --pre-commit --staged .
        pass_filenames: false
        always_run: true
        stages: [pre-commit, manual]
